body {
  margin: 0;
  padding: 0;
}
.padder {
  margin: 2em 0;
}
header {
  background-color: #3b5998;
  padding: 1em;
  color: #ffffff;
}
header a:link,
header a:visited,
header a:hover,
header a:active {
  color: #ffffff;
}
header h1 {
  margin: 0;
  display: inline-block;
}
header ul {
  display: inline-block;
}
header li {
  display: inline-block;
}
#profile-image {
  position: relative;
  top: -50px;
  left: 10px;
  z-index: 1;
  width: 90%;
  border: 4px solid white;
}
.friends {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: .5em;
  background-color: rgba(0, 0, 0, 0.1);
  max-height: 800px;
  overflow-y: scroll;
}
.friends > ul {
  display: block;
  margin: 0;
}
.friends > ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0.2em 0;
}
.friends img {
  vertical-align: middle;
  margin-right: 1em;
}
/* Posts */
ul.posts {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.posts .comment,
ul.posts .post {
  clear: both;
}
ul.posts img {
  padding: 0 1em 1em 0;
}
ul.posts ul {
  font-size: smaller;
  margin-left: 85px;
}
ul.posts ul li {
  margin: 15px 0;
  padding-top: 15px;
  border-top: 1px solid #999;
  list-style-type: none;
}
ul.posts ul li.comment img {
  float: left;
}
ul.posts ul li > div {
  margin-left: 60px;
}
ul.posts li.post img {
  float: left;
}
ul.posts li.post > div {
  padding-left: 85px;
}
form {
  margin: 1em 0;
}
